<div class="sidebar-folder">
  {{#if isEditing}}
    <span class="expander" {{action 'toggleExpansion'}}>
      {{if isExpanded '-' '+'}}
    </span>
    {{input value=folder.name}}-- {{folder.size}}kb
    <button {{action 'save'}}>Save</button>
    <button {{action 'destroy'}}>Destroy</button>
  {{else}}
    <span class="expander" {{action 'toggleExpansion'}}>
      {{if isExpanded '-' '+'}}
      {{folder.name}}-- {{folder.size}}kb
    </span>
    <button {{action 'edit'}}>Edit</button>
  {{/if}}

  <div class="expanded-content">
    {{#if isExpanded}}
      {{#each folder.folders as |folder|}}
        {{expandable-folder folder=folder}}
      {{/each}}
      {{#each folder.files as |file|}}
        <div>{{editable-file file=file}}</div>
      {{/each}}
      {{item-adder parent=folder itemType='folder'}}
      {{item-adder parent=folder itemType='file'}}
    {{/if}}
  </div>
</div>
